<div class="row-fluid post-answer">
    <div class="span1">
        <div class="row-fluid row-rating">
            <div class="span12">
                {{ render(controller('OSPostBundle:Api:countRating', {'flag': 'diff', 'id': post.id})) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 span-rating span-rating-down">
                <a href="{{ path('_api_post_rating', {'flag': '0', 'id': post.id}) }}">
                    <i class="icon-thumbs-down"></i>
                </a>
            </div>
            <div class="span6 span-rating span-rating-up">
                <a href="{{ path('_api_post_rating', {'flag': '1', 'id': post.id}) }}">
                    <i class="icon-thumbs-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="span1">
        <img src="{{ asset('bundles/oscommon/img/avatar.png') }}" />
    </div>
    <div class="span10">
        <div class="row-fluid">
            <div class="span6">
                {{ post.user.username }}
            </div>
            <div class="span6 text-right muted">{{ post.createdAt|localizeddate() }}</div>
        </div>
        <div class="row-fluid">
            <div class="pull-left">
                {% include 'OSPostBundle:Partials:_icon_user_score.html.twig' with {'user': post.user} %}
            </div>
            <div class="pull-left">
                &nbsp;{{ post.user.score }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">{{ post.content|strip_html_tags([], true)|raw }}</div>
        </div>            
    </div>
</div>

<div class="row-fluid text-right">
    {% if is_granted('ROLE_MODERATOR') %}
        {% if post.enabled == 1 %}
        <a href="{{ path('_post_togglestatus', {'id': post.id}) }}"><i class="icon-ban-circle"></i> {{ 'Dénoncer'|trans }}</a>
        {% else %}
        <a href="{{ path('_post_togglestatus', {'id': post.id}) }}"><i class="icon-ok"></i> {{ 'Annoncer'|trans }}</a>
        {% endif %}
    {% endif %}
</div>

<!-- Comment -->
{% include 'OSCommentBundle:Partials:_comment.html.twig' with {'post': post} %}